
#dropMainText {
  font-size: 100;
  margin-top: -100px;
}

#dropMainSubText {
  margin-top: -10px;
}

#itemname {
  font-size: 20px;

}

#itemdesc {
  color: #000;
  text-decoration: none;
  cursor: auto;
}

.simple {
  border: 1px solid #4C3C1B;
  padding: 5px;
  width: 300px;
  background-color: #EFEECB;
}
